asn1crypto==0.24.0
cffi==1.12.3
Click==7.0
cryptography==3.2
Flask==1.1.1
Flask-Cors==3.0.8
imutils==0.5.3
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
mrz==0.5.5
numpy==1.17.0
opencv-python==4.1.0.25
Pillow==6.2.0
pycparser==2.19
pyOpenSSL==19.0.0
pytesseract==0.2.9
python-dateutil==2.8.0
six==1.12.0
Werkzeug==0.15.5
